<!DOCTYPE html>
<html ng-app="ionicApp" >
<head>
    <link href="css/ionic.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="js/ionic.bundle.min.js"></script>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="js/js.cookie.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>djy field</title>

    <style>
        body {
            cursor: url('http://www.runoob.com/static/img/finger.png'), auto;
        }
    </style>
</head>
<body>

<ion-nav-bar class="bar-positive" animation="nav-title-slide-ios7"
             type="bar-positive"
             back-button-type="button-icon"
             back-button-icon="ion-arrow-left-c">
    <ion-nav-back-button>
    </ion-nav-back-button>
</ion-nav-bar>
<ion-nav-view animation="slide-left-right"></ion-nav-view>


<script id="tabs.html" type="text/ng-template">
    <ion-tabs  class="tabs-icon-top"  tabs-style="tabs-icon-top" tabs-type="tabs-positive">

        <ion-tab title={{tapTitle[0].name}} icon="ion-home"  href="#/tab/home">
            <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title={{tapTitle[1].name}} icon=" ion-person"  href="#/tab/my">
            <ion-nav-view name="my-tab"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</script>

<script id="home.html" type="text/ng-template">
    <ion-view title={{tapTitle[0].name}} >
            <ion-nav-buttons side="right">
                    <button class="button button-clear icon ion-load-a" on-tap="refresh()"></button>
                    <a class="button button-clear icon  ion-compose" href={{isLogin==true?'#/tab/new':'#/tab/login'}} >
                    </a>
            </ion-nav-buttons>
        <ion-content has-header="true" padding="true" id="_homePage">
            <ion-refresher pulling-text="下拉刷新" on-refresh="pullFresh()"></ion-refresher>
            <ion-list>
                <ion-item ng-repeat="(key,item) in homeList" >
                    <div class="card">
                        <div class="item item-divider row" on-tap="goDetail({{key}})">
                            <span class="col-25">{{substr(item.title,20)}}</span>
                            <span class="col-offset-66 {{homeList[key].isPublic==0?'calm':'energized'}}">
                                {{checkPublic(homeList[key].isPublic,key,homeList[key].id,0)}}</span>
                        </div>
                        <div class="item item-text-wrap" on-tap="goDetail({{key}})">
                            {{substr(item.content,100)}}
                        </div>
                        <div class="item item-divider" on-tap="goDetail({{key}})">
                            由 {{item.authName}} 创建于 {{timeFormat(item.create_time)}}
                        </div>
                        <div class="item item-divider" on-tap="goDetail({{key}})">
                            最后修改于 {{timeFormat(item.update_time)}}
                        </div>
                        <div class="item item-divider" ng-if="isLogin&&userId==item.auth">
                            <button class="button icon  ion-edit" on-tap="goUpdate({{key}})"></button>
                            <button class="button icon ion-trash-a" on-tap="confirmDelete({{key}})"></button>
                            <hr>
                            <ion-toggle ng-model="homeList[key].isPublic"
                                        ng-change="checkPublic(homeList[key].isPublic,key,item.id,1)"
                                        ng-true-value="1"
                                        ng-false-value="0"
                                        ng-checked = "homeList[key].isPublic==1?true:false">
                                {{checkPublic(homeList[key].isPublic,key,homeList[key].id,0)}}
                            </ion-toggle>
                        </div>
                    </div>
                </ion-item>
            </ion-list>
            <ion-infinite-scroll ng-if="hasMore" on-infinite="loadMore()">
                <ion-infinite-scroll-content   loadingSpinner="bubbles"></ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </ion-content>
    </ion-view>
</script>


<script id="about.html" type="text/ng-template">
    <ion-view title="'About'">
        <ion-content has-header="true" padding="true">
            <h3>Create hybrid mobile apps with the web technologies you love.</h3>
            <p>Free and open source, Ionic offers a library of mobile-optimized HTML, CSS and JS components for building highly interactive apps.</p>
            <p>Built with Sass and optimized for AngularJS.</p>
            <p>
                <a class="button icon icon-right ion-chevron-right" href='#/tab/my'>Tabs Nav Stack</a>
            </p>
        </ion-content>
    </ion-view>
</script>

<script id="login.html" type="text/ng-template">
    <ion-view view-title={{tapTitle[2].name}}>
        <ion-content class="padding">
                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="text" placeholder="邮箱" ng-model="login.email">
                    </label>
                    <label class="item item-input">
                        <input type="password" placeholder="密码" ng-model="login.password">
                    </label>
                </div>
                <div class="padding" ng-click="loginSubmit()">
                    <button class="button button-block button-positive">登录</button>
                </div>
                <div class="padding">
                    <a class="button button-block button-calm " href='#/tab/register'>注册</a>
                </div>
        </ion-content>
    </ion-view>
</script>

<script id="new.html" type="text/ng-template">
    <ion-view view-title={{tapTitle[4].name}}>
        <ion-content class="padding">
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="标题" ng-model="new.title">
                </label>
                <label class="item item-input">
                        <textarea   class="textboxHeight" type="text" placeholder="内容" ng-model="new.content"></textarea>
                </label>
            </div>
            <div class="padding" ng-click="addNoteSubmit()">
                <button class="button button-block button-positive">发表</button>
            </div>
        </ion-content>
    </ion-view>
</script>

<script id="my.html" type="text/ng-template">
    <ion-view view-title={{tapTitle[1].name}}>
        <ion-content  has-header="true" class="padding">
            <div class="padding" ng-click="logout()" ng-if="isLogin">
                <button class="button button-block button-positive">登出</button>
            </div>
            <div class="padding"  ng-if="!isLogin">
                <a class="button button-block button-positive" href='#/tab/login'>你还没登录,快去登陆吧</a>
                <a class="button button-block button-calm " href='#/tab/register'>还没有账号?赶紧注册吧</a>
            </div>
        </ion-content>
    </ion-view>
</script>

<script id="detail.html" type="text/ng-template">
    <ion-view view-title={{tapTitle[7].name}}>
        <ion-content class="padding">
            <div class="list card">

                <div class="item item-avatar">
                    <img src="res/default.gif">
                    <h2>{{noteDetail(currentKey).authName}}</h2>
                    <p>{{timeFormat(noteDetail(currentKey).create_time)}}</p>
                </div>

                <div class="item item-body">
                    <h2>{{noteDetail(currentKey).title}}</h2>
                    <p>
                        {{noteDetail(currentKey).content}}
                    </p>
                    <!--<p>-->
                        <!--<a href="#" class="subdued">1 喜欢</a>-->
                        <!--<a href="#" class="subdued">5 评论</a>-->
                    <!--</p>-->
                </div>

                <!--<div class="item tabs tabs-secondary tabs-icon-left">-->
                    <!--<a class="tab-item" href="#">-->
                        <!--<i class="icon ion-thumbsup"></i>-->
                        <!--喜欢-->
                    <!--</a>-->
                    <!--<a class="tab-item" href="#">-->
                        <!--<i class="icon ion-chatbox"></i>-->
                        <!--评论-->
                    <!--</a>-->
                    <!--<a class="tab-item" href="#">-->
                        <!--<i class="icon ion-share"></i>-->
                        <!--分享-->
                    <!--</a>-->
                <!--</div>-->

            </div>
        </ion-content>
    </ion-view>
</script>

<script id="update.html" type="text/ng-template">
    <ion-view view-title={{tapTitle[6].name}}>
        <ion-content class="padding">
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="{{noteDetail(currentKey).title}}" ng-model="update.title">
                </label>
                <label class="item item-input">
                    <textarea   rows="16"  placeholder="{{noteDetail(currentKey).content}}" ng-model="update.content"></textarea>
                </label>
            </div>
            <div class="padding" ng-click="updateSubmit(noteDetail(currentKey).id,currentKey)">
                <button class="button button-block button-positive">发表</button>
            </div>
        </ion-content>
    </ion-view>
</script>


<script id="register.html" type="text/ng-template">
    <ion-view view-title={{tapTitle[3].name}}>
        <ion-content class="padding">
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="邮箱" ng-model="register.email">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="昵称" ng-model="register.username">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="密码" ng-model="register.password">
                </label>
            </div>
            <div class="padding" ng-click="registerSubmit()">
                <button class="button button-block button-positive">注册</button>
            </div>
        </ion-content>
    </ion-view>
</script>


<script type="text/javascript">
    var _host = 'http://192.168.7.147/basic/web/';
    var _token = '';
    var _userId = '';
    if(Cookies.get('userId')){
        _userId = Cookies.get('userId');
    }
    if(Cookies.get('token')){
        _token = Cookies.get('token');
    }
    var _Page = '';
    var _Scope = '';
    var _homeList='';
    function getContent(scope,callback) {
            $.ajax({
                url: _host + '?r=test&fn=loadMore',
                data: {
                    currentItem: scope.currentPage,
                    number: 10,
                    token: _token,
                },
                dataType: 'json',
                async: true,
                success: function (data) {
                    if (data.info) {
                        console.log('d');
                        scope.data = data.info;
                        scope.homeList = scope.homeList.concat(scope.data);
                        _homeList = scope.homeList;
                        scope.theLastItemId = data.info[data.info.length - 1].id;
                    } else {
                        scope.hasMore = false;
                    }
                    if (callback) {
                        callback();
                    }
                },
            })

    }
    function login(email,password,scope,ionicPopup) {

            $.ajax({
                type: 'get',
                url: _host+'?r=site&fn=login',
                data: {email:email,password:password,token:_token} ,
                dataType: 'json',
                success: function(data) {
                    if(data.code==0){
                        Cookies.set('token',data.token);
                        Cookies.set('userId',data.id);
                        _token=data.token;
                        _userId = data.id;
                        var username = data.data;
                        console.log('欢迎您,'+username);
                        checkLogin(scope);
                        scope.$on('$ionicView.beforeEnter', function () {
                            _Scope.refresh();//刷新页面
                        });
                        window.history.back();
                    }else{
                        ionicPopup.alert({
                            title: '邮箱或密码错误',
                        });
                        console.log('邮箱或密码错误');
                        checkLogin(scope);
                    }

                },
            });
    }
    function checkLogin(scope) {
        $.ajax({
            url:_host+'?r=site&fn=checkLogin',
            data:{token:_token},
            dataType:'json',
            success:function (data) {
                if(data){
                    if(data.code==0){
                        scope.isLogin=true;
                    }else{
                        scope.isLogin=false;
                    }
                }
            }
        });

    }
    function logout(scope)
        {$.ajax({
            url:_host+'?r=site&fn=logout',
            dataType:'json',
            success:function (data) {
                if(data){
                    if(data.code==0){
                        Cookies.remove('token');
                        _token = null;
                        console.log('登出成功!');
                        checkLogin(scope);
                        scope.refresh();
                    }
                }
            }
        });
    }
    function  addNote(content,title,scope,ionicPopup) {
        $.ajax({
            url:_host+'?r=test&fn=addNote',
            data:{
                content:content,
                title:title,
                token:_token,
            },
            dataType:'json',
            success:function (data) {
                if(data.code==0){
                    console.log('添加成功');
                    scope.$on('$ionicView.beforeEnter', function () {
                        scope.refresh();//刷新页面
                    });
                    window.history.back();
                }else{
                    ionicPopup.alert({
                        title: '请填写完整',
                    });
                   console.log('请填写完整');
                }
            }
        })
    }
    
    function changePublicStatus(isPublic,id,scope,key) {
        $.ajax({
            url:_host+'?r=test&fn=changePublicStatus',
            data:{
                isPublic:isPublic,
                id:id,
                token:_token,
            },
            dataType:'json',
            success:function (data) {
                if(data.code==0){
                }else{
                    console.log('修改失败');
                }
            }
        })
    }
    
    function update(content,title,id,scope,ionicPopup) {
        $.ajax({
            url:_host+'?r=test&fn=updateNote',
            data:{
                content:content,
                title:title,
                id:id,
                token:_token,
            },
            dataType:'json',
            success:function (data) {
                if(data.code==0){
                    console.log('修改成功');
                    scope.$on('$ionicView.beforeEnter', function () {
                        scope.refresh();//刷新页面
                    });
                    window.history.back();
                }else{
                    ionicPopup.alert({
                        title: '请填写完整',
                    });
                    console.log('请填写完整');
                }
            }
        })
    }
     
    function deleteNote(id,scope,ionicPopup){
        $.ajax({
            url:_host+'?r=test&fn=delete',
            data:{
                id:id,
                token:_token,
            },
            dataType:'json',
            success:function (data) {
                if(data.code==0){
                    console.log('删除成功');
                    scope.refresh();
                }else{
                    ionicPopup.alert({
                        title: '删除失败',
                    });
                    console.log('请填写完整');
                }
            }
        })
    }
    
    function register(email,password,username,scope,ionicPopup) {
        $.ajax({
            url:_host+'?r=site&fn=signup',
            data:{
                email:email,
                password:password,
                username:username,
            },
            dataType:'json',
            success:function (data) {
                if(data.code==0){
                    ionicPopup.alert({
                        title: '注册成功',
                    });
                    window.history.back();
                }else if(data.code==1){
                    ionicPopup.alert({
                        title: '请输入正确的邮箱或邮箱已被注册',
                    });
                }else{
                    ionicPopup.alert({
                        title: '请填写完整',
                    });
                }
            }
        })
    }


    angular.module('ionicApp', ['ionic'])

        .config(function($stateProvider, $urlRouterProvider) {

            $stateProvider
                .state('tabs', {
                    url: "/tab",
                    abstract: true,
                    templateUrl: "tabs.html",
                    controller:'app'
                })
                .state('tabs.home', {
                    url: "/home",
                    views: {
                        'home-tab': {
                            templateUrl: "home.html",
                            controller:'app',
                        }
                    }
                })
                .state('tabs.about', {
                    url: "/about",
                    views: {
                        'about-tab': {
                            templateUrl: "about.html"
                        }
                    }
                })
                .state('tabs.login', {
                    url: "/login",
                    views: {
                        'home-tab': {
                            templateUrl: "login.html"
                        }
                    }
                })
                .state('tabs.new', {
                    url: "/new",
                    views: {
                        'home-tab': {
                            templateUrl: "new.html"
                        }
                    }
                })
                .state('tabs.my', {
                    url: "/my",
                    views: {
                        'my-tab': {
                            templateUrl: "my.html",
                        }
                    }
                })
                .state('tabs.detail', {
                    url: "/detail/:key",
                    views: {
                        'home-tab': {
                            templateUrl: "detail.html",
                            controller:'app',
                            params:{
                                'key':null,
                            }
                        }
                    }
                })
                .state('tabs.update', {
                    url: "/update/:key",
                    views: {
                        'home-tab': {
                            templateUrl: "update.html",
                            controller:'app',
                            params:{
                                'key':null,
                            }
                        }
                    }
                })
                .state('tabs.register', {
                    url: "/register",
                    views: {
                        'home-tab': {
                            templateUrl: "register.html",
                        }
                    }
                })
            $urlRouterProvider.otherwise("/tab/home");

        })

        .controller('app', function($scope,$ionicPopup,$state,$stateParams,$timeout,$ionicLoading) {
            _Scope=$scope;
            checkLogin($scope);

            $scope.currentPage = 1;
            $scope.homeList=[];
            $scope.hasMore=true;
            $scope.userId=_userId;

            $scope.tapTitle=[{'name':'主页'},//0
                            {'name':'我的'},//1
                            {'name':'登录'},//2
                            {'name':'注册'},//3
                            {'name':'新日记'},//4
                            {'name':'关于我'},//5
                            {'name':'修改'},//6
                            {'name':'详情'},//7
                           ];
            $scope.login = {'email':'',
                            'password':''
            };
            $scope.new = {'title':'',
                'content':'',
            };
            $scope.update = {'title':'',
                'content':'',
            };
            $scope.register = {
                'email':'',
                'password':'',
                'username':'',
            }

            $scope.loginSubmit = function () {
                var email = $scope.login.email;
                var password = $scope.login.password;
                login(email,password,$scope,$ionicPopup);
            };
            $scope.addNoteSubmit = function () {
                var content = $scope.new.content;
                var title = $scope.new.title;
                addNote(content,title,$scope,$ionicPopup);
            }
            $scope.updateSubmit = function (id,key) {
                var content = $scope.update.content?$scope.update.content:$scope.noteDetail(key).content;
                var title = $scope.update.title?$scope.update.title:$scope.noteDetail(key).title;
                update(content,title,id,$scope,$ionicPopup);
            }
            $scope.registerSubmit = function () {
                var email = $scope.register.email;
                var password = $scope.register.password;
                var username = $scope.register.username;
                register(email,password,username,$scope,$ionicPopup);
            }
            $scope.timeFormat = function (nS) {
                return new Date(parseInt(nS) * 1000).toLocaleString().replace(/:\d{1,2}$/,' ');  ;
            };
            $scope.refresh = function () {
                $scope.currentPage=1;
                $scope.homeList=[];
                $scope.hasMore=true;
                setTimeout(function () {
                    location.reload();
                },500);
            };
            $scope.logout=function () {
                logout($scope);
            };
            $scope.pullFresh = function () {
                $scope.currentPage=1;
                $scope.homeList=[];
                $scope.hasMore=true;
                getContent($scope,function () {
                    $scope.$broadcast('scroll.refreshComplete');
                });
            };
            $scope.substr = function (str,length) {
                var abstract;
                if(str.length>length){
                    var abstract=str.substring(0,length)+'...';
                }else{
                    var abstract=str;
                }
                return abstract;
            }
            $scope.loadMore = function () {
                $scope.currentPage=$scope.theLastItemId;
                getContent($scope,function () {
                    setTimeout(function () {
                        $scope.$broadcast('scroll.infiniteScrollComplete');
                    },1500);
                })
            };
            $scope.noteDetail = function (key) {
                return _homeList[key];
            }
            $scope.currentKey=$stateParams.key;
            $scope.goDetail = function (key) {
                $state.go('tabs.detail',{
                    key:key,
                });
                $ionicLoading.show({
                    content: 'Loading',
                    animation: 'fade-in',
                    showBackdrop: true,
                    maxWidth: 200,
                    showDelay: 0
                });
                $timeout(function () {
                    $ionicLoading.hide();
                }, 500);
            }
            $scope.goUpdate = function (key) {
                $state.go('tabs.update',{
                    key:key,
                });
                $ionicLoading.show({
                    content: 'Loading',
                    animation: 'fade-in',
                    showBackdrop: true,
                    maxWidth: 200,
                    showDelay: 0
                });
                $timeout(function () {
                    $ionicLoading.hide();
                }, 500);
            }
            $scope.option = function () {
                console.log('tap');
            }
            $scope.checkPublic = function (isPublic,key,id,isReturn) {
                if(isReturn==0){
                    return isPublic==0?'公开':'私密';
                }
                if(isReturn==1){
//
                    console.log(isPublic);
                    //isPublic=isPublic==0?1:0;
                    changePublicStatus(isPublic,id,$scope,key);
                }
            }
            $scope.confirmDelete = function (key) {
                var confirmPopup = $ionicPopup.confirm({
                    title: '你要删除这篇文章么?',
                    cancelText: '取消', // String (默认: 'Cancel')。一个取消按钮的文字。
                    okText: '确定', // String (默认: 'button-default')。取消按钮的类型。
                });
                confirmPopup.then(function(res) {
                    if(res) {
                        console.log('You are sure');
                        deleteNote($scope.noteDetail(key).id,$scope,$ionicPopup);
                    } else {
                        console.log('You are not sure');
                    }
                });
            }
            
        });
    $(document).ready(function () {
        getContent(_Scope);
    });
</script>

</body>


</html>